---
layout: content.html
---

<%- include('plugins_gen') %>

# Plugins

_Seneca_ plugins enable you to build awesome microservices, incredibly fast.
Some plugins are maintained in-house, while others are provided by the community.

On this page, we provide an `npm` link and total downloads per month for any plugins
we find or publish ourselves, so you only need to look in one place.

Table of contents:
- This intro about the plugins
- Block list of families with description, link to full description block
- Each family name with full description, followed by block-list of each plugin in family (with short description)
- Subheadings of each family with short description
- Each plugin with badges and description (links active)
- 'Got a plugin to share?' section

<!-- List of families -->
## Plugin Families
*Click to see further description and plugin list*

<div style='display:flex; flex-flow:row wrap;'>

<%
Object.keys(allPlugins).forEach(function (familyName) {
  let family = allPlugins[familyName]
%>

  <div style='flex: 0 0 49%; margin-bottom: 1%; margin-right: 1%; padding: 0.5% 0.5%; background-color: #dcf1f3; border: 1px solid #dcf1f3; border-radius: 3px; box-shadow: none;'>
    <div style='font-size:90%; color: #379199; text-transform: uppercase;'><a href='#family_<%=familyName%>'><%=familyName%></a></div>
    <div style='font-size:80%'><%=family.short_desc%>. Longer description to be added to plugins_def file.</div>
  </div>

<%})%>
</div>

<!-- Plugin families -->
## Family Descriptions
<%
Object.keys(allPlugins).forEach(function (familyName) {
  let family = allPlugins[familyName]
%>

  ### <a href='#plugin_family_<%=familyName%>' id='family_<%=familyName%>'><%=familyName%></a>
  <%=family.long_desc%>. This will be a longer description eventually, giving background on what this family of plugins could be used for, and how to use them.

  <div style='display:flex; flex-flow:row wrap;'>

  <%
  Object.keys(family.plugins).forEach(function (pluginName) {
    let plugin = family.plugins[pluginName]
  %>
  <div style='flex: 0 0 24%; margin-bottom: 1%; margin-right: 1%; padding: 0.5% 0.5%; background-color: #dcf1f3; border: 1px solid #dcf1f3; border-radius: 3px; box-shadow: none;'>
    <div style='font-size:90%; color: #379199'><a href='#plugin_<%=pluginName%>'><%=plugin.title%></a></div>
    <div style='font-size:80%;'><%=plugin.desc%></div>
  </div>
  <%})%>
  </div>
<%})%>


<!-- Plugin information blocks -->
<%
Object.keys(allPlugins).forEach(function (familyName) {
  let family = allPlugins[familyName]
%>

## <span id='plugin_family_<%=familyName%>' style='text-transform: capitalize;'><%=familyName%></span> Plugins

Description about **<%=familyName%> plugins**. Short description is <%=family.short_desc%>.

<%
  Object.keys(family.plugins).forEach(function (pluginName) {
    let plugin = family.plugins[pluginName]
%>

### <a href='https://www.npmjs.com/package/<%=pluginName%>' id='plugin_<%=pluginName%>'><%=plugin.title%></a>

<div style='display:flex; flex-flow:row wrap;'>
<%if(plugin.badges.includes('npm')){%>
<a style='margin-right:5px' href='https://www.npmjs.com/package/<%=pluginName%>'><img src='https://img.shields.io/npm/v/<%=pluginName%>.svg' alt='npm'></a>
<%}
if(plugin.badges.includes('build')){%>
<a style='margin-right:5px' href='https://github.com/<%=plugin.org_repo%>/actions/workflows/build.yml'><img src='https://github.com/<%=plugin.org_repo%>/actions/workflows/build.yml/badge.svg' alt='Build'></a>
<%}
if(plugin.badges.includes('coverage')){%>
<a style='margin-right:5px' href='https://coveralls.io/github/<%=plugin.org_repo%>?branch=master'><img src='https://coveralls.io/repos/github/<%=plugin.org_repo%>/badge.svg?branch=master' alt='Coverage Status'></a>
<%}
if(plugin.badges.includes('vulnerability')){%>
<a style='margin-right:5px' href='https://snyk.io/test/github/<%=plugin.org_repo%>'><img src='https://snyk.io/test/github/<%=plugin.org_repo%>/badge.svg' alt='Known Vulnerabilities'></a>
<%}
if(plugin.badges.includes('deepscan')){%>
<a style='margin-right:5px' href='<%=plugin.deepscan_url%>'><img src='<%=plugin.deepscan_badge%>' alt='DeepScan Grade'></a>
<%}
if(plugin.badges.includes('maintainability')){%>
<a style='margin-right:5px' href='https://codeclimate.com/github/<%=plugin.org_repo%>/maintainability'><img src='<%=plugin.maintainability_badge%>' alt='Maintainability'></a>
<%}
let endpoint = 'https://untitled-8qw7iyil8lfs.runkit.sh/'
if(plugin.seneca_maintain){ endpoint = 'https://untitled-zbmraluz2vkg.runkit.sh/' }
%>
<a style='margin-right:5px' href='https://npmjs.org/package/@seneca/maintain'><img src='https://img.shields.io/endpoint?url=<%=endpoint%>' alt='seneca-maintain'></a>
</div>

<%=plugin.desc%>

<% })%>
<%})%>

## Got a plugin to share?

Our docs are open source. Simply fork the [senecajs.org] repository, add your plugin to the appropriate section,
and send us on a pull request - that way, other people can find your awesome plugin easily.

[senecajs.org]: https://github.com/senecajs/senecajs.org
