---
layout: content.html
---

<%- include('plugins_bak') %>

# Plugins

_Seneca_ plugins enable you to build awesome microservices, incredibly fast.
Some plugins are maintained in-house, while others are provided by the community.

On this page, we provide an `npm` link and total downloads per month for any plugins
we find or publish ourselves, so you only need to look in one place.

<!-- Plugin groups -->
<%Object.keys(allPlugins).forEach(function (group) {%>
### Group name: <%=group%>
Group description: <%=allPlugins[group].XdescX%>. This will be a longer description eventually, giving background on what this family of plugins could be used for, and how to use them. Terminology should be decided between group/family/clan/etc

<%Object.keys(allPlugins[group]).forEach(function (pluginName) {
  if('XdescX' == pluginName) {return}
  let plugin = allPlugins[group][pluginName]%>
- <%=plugin.title%>
  - <%=plugin.desc%>. This will be a short description taken from the package.json file.

<%  })%>
<%})%>

<!-- Plugin groups v2 -->
<%
let groupNav = '<div>'
Object.keys(allPlugins).forEach(function (group) {
  groupNav += '<table><tr style="background-color:#f0f0f0"><td style="background-color:#505050">'
  groupNav += '<h4>'+group+'</h4><p>'+allPlugins[group].XdescX+' This will be a longer description eventually, giving background on what this family of plugins could be used for, and how to use them. Terminology should be decided between group/family/clan/etc.</p></td><td style="background-color:#909090"><dl>'
  Object.keys(allPlugins[group]).forEach(function (pluginName) {
    if('XdescX' == pluginName) {return}
    let plugin = allPlugins[group][pluginName]
    groupNav += '<dt>'+plugin.title+'</dt><dd>'+plugin.desc+' This will be a short description taken from the package.json file.</dd>'
  })
  groupNav += '</dl></td></tr></table>'
})
groupNav += '</div>'
%>
<%-groupNav%>

<!-- Plugin navigation -->
<%
let pluginNav = '<table style="table-layout:fixed;width:100%;margin-top:2%">'
let g = 0
Object.keys(allPlugins).forEach(function (group) {
  if (0 == g%4) {
    pluginNav += '<tr>'
  }
  pluginNav += '<td style="background-color:#f0f0f0">'
  pluginNav += '<h4><a href="./#'+group+'_plugins">'+group+'</a></h4><ul>'
  Object.keys(allPlugins[group]).forEach(function (pluginName) {
    if('XdescX' == pluginName) {return}
    let plugin = allPlugins[group][pluginName]
    pluginNav += '<li><a href="./#'+plugin.title+'">'+plugin.title+'</a></li>'
  })
  pluginNav += '</ul>'
  pluginNav += '</td>'
  if (2 == g%2 || Object.keys(allPlugins).length-1 == g) {
    pluginNav += '</tr>'
  }
  g++
})
pluginNav += '</table>'
%>
<%-pluginNav%>

<!-- Plugin information blocks -->
<%Object.keys(allPlugins).forEach(function (group) {%>
## <%=group%>_plugins

Description about **<%=group%> plugins**. Current description is <%=allPlugins[group].XdescX%>.
<%
  Object.keys(allPlugins[group]).forEach(function (pluginName) {
    if('XdescX' == pluginName) {return}
    let plugin = allPlugins[group][pluginName]
%>
### [<%=plugin.title%>](<%=plugin.npm_link%>)

<!-- Newlines removed for formatting reasons, add them back in at 'percent><percent' for editing -->
<%if(plugin.badges.includes('npm')){%>[![npm](https://img.shields.io/npm/v/<%=pluginName%>.svg)](https://www.npmjs.com/package/<%=pluginName%>)<%}%><%if(plugin.badges.includes('build')){%>[![Build](https://github.com/<%=plugin.org_repo%>/actions/workflows/build.yml/badge.svg)](https://github.com/<%=plugin.org_repo%>/actions/workflows/build.yml)<%}%><%if(plugin.badges.includes('coverage')){%>[![Coverage Status](https://coveralls.io/repos/github/<%=plugin.org_repo%>/badge.svg?branch=master)](https://coveralls.io/github/<%=plugin.org_repo%>?branch=master)<%}%><%if(plugin.badges.includes('vulnerability')){%>[![Known Vulnerabilities](https://snyk.io/test/github/<%=plugin.org_repo%>/badge.svg)](https://snyk.io/test/github/<%=plugin.org_repo%>)<%}%><%if(plugin.badges.includes('deepscan')){%>[![DeepScan Grade](<%=plugin.deepscan_badge%>)](<%=plugin.deepscan_url%>)<%}%><%if(plugin.badges.includes('maintainability')){%>[![Maintainability](<%=plugin.maintainability_badge%>)](https://codeclimate.com/github/<%=plugin.org_repo%>/maintainability)<%}%>

<%=plugin.desc%>
<% })%>
<%})%>

## Got a plugin to share?

Our docs are open source. Simply fork the [senecajs.org] repository, add your plugin to the appropriate section,
and send us on a pull request - that way, other people can find your awesome plugin easily.

[senecajs.org]: https://github.com/senecajs/senecajs.org
